<!--	paragraphs	-->

p	{	margin: 0.7em 0;
		line-height:1.6em;}

<!--	Definition Lists	-->

dl	{	margin:1em 0;}

dt	{	font-weight:bold;}

dd	{	margin:0.5em;
		padding:0;}

<!--	Images	-->

img	{	border-top:#ddd 1px solid;
		border-right:#ddd 2px solid;
		border-bottom:#ddd 2px solid;
		border-left:#ddd 1px solid;
		padding:2px;}

<!--	Quoted Text	-->

blockquote	{	color:#000;
			margin: 1em;
			padding: 0 0 10px 50px;
			background: url(http://s61.photobucket.com/albums/h59/c_stavanger/mistylook/blockquote.gif) no-repeat left top;}

<!--	Background of Page	-->

body	{	background: #000 url(http://www.skobertech.com/images/mochabear/street.jpg) no-repeat center top fixed;
		margin: 0; 
		font: 76%/1.6em verdana, tahoma, arial,  sans-serif; 
		color: #333; 
		text-align: center;}

<!--	Links	-->

a	{	text-decoration:none;}

a:link, a:visited {
	color: #000000;	
}
a:hover, a:active {
	border-bottom:#000000 1px solid;
}
h1, h2, h3, h4, h5, h6 
{
	font-family:Georgia, Verdana, Arial, Serif;
}

#container {
	border:  #000 1px solid; 
	background: transparent #fff;  /* MainBody Color */
	margin: 0 auto; 
	width: 780px; 	
	position: relative; 
	text-align: left;
}
#navigation {
	background: transparent; 
	margin: 20px auto 0; 
	overflow: hidden; 
	width: 760px; 
	position: relative; 
	text-align: left;
	font-family:Tahoma, Verdana, Arial, Serif;
}
 html #navigation {
	height: 1%;
}
#navigation ul li {
	float: left; 
	margin: 0 5px 0 0; 
	list-style-type: none;
}
#navigation ul li a {
	border: #000 1px solid; 
	border-bottom:none;
	padding: 0 10px 2px 10px; 
	display: block; 
	background: transparent #fff; 
	text-decoration: none;
}
#navigation ul li a:hover, #navigation ul li a:active, #navigation ul li.current_page_item a {
	background: #fff;
	color: #333;	
	border: #000 1px solid; 
	border-bottom:none;
}
#navigation ul li.search {
	font-size: 0.9em; 
	right: 0; 
	position: absolute; 
	top: 0;
}
#navigation ul li.search input#s {
	border: #999 1px solid; 
	font-size: 0.9em; 	
	width: 100px; 
	padding: 2px; 	
	background:#fff;
}
#navigation ul li.search input#searchsubmit {
	border: #999 1px solid; 
	font-size: 0.9em; 
	background: #e6e6e6; 
	margin: 0 0 0 2px; 
	color: #265e15; 
	padding: 2px; 		
}
#header {
	clear: both; 
	float: left; 
	margin: 10px 5px; 
	width: 450px;
}
#header h1 
{
	font-size:1.8em;
	margin:10px 0 0 10px;
	font-variant:small-caps;
        font-weight:bold;
	letter-spacing:1px;
	color: #000;	
}
#header h1 a {
	
	text-decoration:none;	
	border:none;
}
#header h2 
{
	margin:5px 0 0 10px;
	font-size:1em;
	font-style: italic;
	font-family:Tahoma, Verdana, Arial, Serif;
	letter-spacing:1px;
	color: #000;	
}
#feedarea {
	padding:10px 10px 0 0; 
	float: right; 	
	text-align: right;
}
html #feedarea {
	padding-top: 10px;
}
#feedarea dl dt {
	display: inline; 
	margin-right: 5px; 
	height: 45px;
}
#feedarea dl dd {
	display: inline; 
	margin-right: 5px; 
	height: 45px;
	background:transparent;
	padding-left:16px;
}
#headerimage {
	clear: both; 
	background: #000 url(http://www.skobertech.com/images/mochabear/header.jpg) no-repeat center center;
	margin: 10px; 
	color: #fff; 
	height: 200px;
}
 html #headerimage {
	margin-top: 10;
}
#content {
	margin: 10px 10px 10px 30px; 	
}
 html #content {
	height: 1%;
}
#content h3 {
	font-size: 1.4em; 
	font-weight:normal;
	margin: 1em 0 0;
	color: #000;	
}
#content h4 {
	font-size: 1.1em; 
	margin: 1em 0 0 0;
        color: #000; 
}
#content h5 {
	font-size: 1em; 
	margin: 1em 0;
        color: #000;
}
#content-main ul 
{
    margin:1em;
    padding:0 1em;
    color: #000;
}
#content-main ul.asides 
{
	margin:0;
	padding:2em;
	border-bottom:#000 1px dashed;
        color: #000
}
#content ol 
{
    list-style-type:decimal;
    margin:1em;
    padding:0 1em;
    color: #000;
}
#content-main {
	float: left; 
	width: 520px; 
	margin-right: 20px;
        color: #000;
        font-weight:bold;
}
 html #section-index #content-main {
	margin-right: 20px;
}
#content .post 
{
	padding:0 0 2em 0;
	border-bottom:#fff 1px dashed;
        font-weight:bold;
}
#content p img.right {
	float: right;
	margin:10px 0 0 10px;
	background: #000;
	padding:4px 10px 10px 4px;	
	border:#000 1px solid;
	border-top:#eee 1px solid;
	border-left:#eee 1px solid;	
}
#content p img.left {
	float: left; 
	margin:0 10px 10px 0;
	background:#000;
	padding:4px 10px 10px 4px;	
	border: #000 1px solid;;
	border-top:#eee 1px solid;
	border-left:#eee 1px solid;
}
#content .post h2 
{
	font-size: 1.8em; 
	margin: 1em 0 0;	
	letter-spacing:1px;
	font-weight:bold;
        color: #000;	
}
#content .entry 
{
    margin:1em 0;
    padding-right:1em;    
}
#content .entry a:link, #content .entry a:visited
{
    border-bottom:#000 0px dashed;    
}
#content .entry a:hover, #content .entry a:active
{
    border-bottom:#000 1px solid;    
}
#content .post-info , #content .postmetadata
{
	font-size:0.9em;
	color:#999;
	margin:0;
	padding:0;
        color: #000;	
}
#content .post-info 
{
	
	padding-bottom:12px;	
}
#sidebar {
	float: left; 
	width: 200px;
	font-size:0.9em;
        font-weight:bold;
        color: #000;
}
#sidebar ul
{
	list-style:none;
	margin:0;
	padding:0;
        color: #000;
}
#sidebar ul ul
{
	list-style:none;
	margin:0.5em 0 0 1em;
	padding:0;
       color: #000;
}
li.sidebox {
	padding:10px;
	background: #000; 
	margin-bottom: 10px; 
        font-weight:bold;	
}
html li.sidebox {
	padding-bottom: 10px;
}
li.sidebox h2 {
	font-weight: normal; 
	font-size: 1.6em; 
	text-align: left;
	color: #000;	
}
#sidebar li.sidebox p img {
	float: left; 
	margin: 0 10px 10px 0;
}

#footer {
	clear: both; 	
	background: transparent; 
	margin: 0 auto; 
	width: 760px; 	
	text-align: left;
        color: #fff;
}
 html #footer {
	height: 1%;
}
#footer p {
	float: left; 
	width: 40%; 
	line-height: 1.2em;
}
#footer p.right {
	float: right; 
	margin: 1em 0; 
	width: 60%; 
	text-align: right;
	font-size: 0.9em; 
	color:#fff;
}
#comments, #respond{
	margin: 2em 0 0 5px;
}
#commentform 
{
	margin:10px 0;	
	padding:10px;
	background:transparent;
	border-top: #000 1px solid;
	border-bottom: #000 1px solid;
}
.commentnum 
{
	font-size:1.5em;
}
#container .commentlist {
	margin: 0;
	padding: 0;	
}
.commentlist li 
{
	list-style:none;
	margin: 1em 0;
	padding: 0.5em;	
	background: transparent;
	border-top: #000 1px solid;
	border-bottom: #000 1px solid;
}
.commentlist li.alt 
{
    background: transparent;
}
.commentlist li .cmtinfo 
{
	font-size:1em;		
}
.commentlist li cite 
{
	font-style:normal;
	font-weight:bold;
}
.commentlist li .cmtinfo em 
{
	float:right;
	margin:0;
	padding:0;
	font-style:normal;
	font-size:0.9em;
	color:#000;
}
textarea, input.textbox {
	padding:5px;
	border: 1px solid #ccc;		
	padding:3px;
	font:1em Verdana, Arial, Serif;
	background:#fff;
}
textarea 
{
	height:20em;
	width:80%;	
}
textarea:focus, input.textbox:focus 
{
	border: 1px solid #999;	
	background:#fff;
}
.post h4 
{
	font-size:1em;
	font-weight:normal;
	font-family:Verdana, Tahoma, Arial, Serif;
}
.post h4 em
{
	font-style:normal;
	float:right;
	font-weight:normal;
}
#header, #content, #sidebar, #footer, .widget {
    overflow: hidden;
}
]]></b:skin>
  </head>

  <body id='section-index'>
  <!-- skip links for text browsers -->
    <span id='skiplinks' style='display:none;'>
      <a href='#main'>skip to main </a> |
      <a href='#sidebar'>skip to sidebar</a>
    </span>

    <div id='navigation'>
    <ul>
   	<li class='current_page_item'><a expr:href='data:blog.homepageUrl'>Home</a></li>
    <li><a href='http://picasaweb.google.com/skober'>Photos</a></li>
    <li><a href=''>Cheese</a></li>
    <li><a href=''>Pickles</a></li>
    <li><a href='mailto:skober@gmail.com'>Contact</a></li>
    </ul>
    </div>


    <div id='container'>

<!--
    <b:section class='header' id='header' maxwidgets='1' showaddelement='no'>
<b:widget id='Header1' locked='true' title='Mochas Musings (Header)' type='Header'/>
</b:section>
-->

    <div id='headerimage'/> 
  
    <div id='content'>
    
    <div id='content-main'>
<b:section class='main' id='main' showaddelement='no'>
<b:widget id='Blog1' locked='true' title='Blog Posts' type='Blog'/>
</b:section>
      </div>

<div>
        <b:section class='sidebar' id='sidebar' preferred='yes'>
<b:widget id='Feed1' locked='false' title='Photo Gallery' type='Feed'/>
<b:widget id='BlogArchive1' locked='false' title='Blog Archive' type='BlogArchive'/>
<b:widget id='HTML1' locked='false' title='' type='HTML'/>
</b:section></div>

      <!-- spacer for skins that want sidebar and main to be the same height-->
      <div class='clear'>&#160;</div>

    </div></div>

    <div id='footer'>
    <b:section class='footer' id='foot'/>
      <p/>
			<p class='center'>
				<span>Copyright SkoberTech 2007</span>
			</p>
    </div>

</body>
</html>
                